[Unit]
Description=Omnia
Requires=network.target
After=network.target
Wants=ssb-server.service

[Service]
Environment="PATH=/home/$USER/.nix-profile/bin"
Environment="OMNIA_CONFIG=$OMNIA_CONFIG"
Environment="GOFER_CONFIG=$GOFER_CONFIG"
Environment="SPIRE_CONFIG=$SPIRE_CONFIG"
Environment="SSB_CONFIG=$SSB_CONFIG"
Environment="SSB_KEYS=$SSB_KEYS"
Environment="SSB_PORT=$SSB_PORT"
Environment="SSB_HOST=$SSB_HOST"
User=$USER
Group=$USER
ExecStart=$OMNIA_PATH
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
