[Unit]
Description=RPc Splitter Agent
Requires=network.target
After=network.target

[Service]
Environment="PATH=/home/$USER/.nix-profile/bin"
User=$USER
Group=$USER
ExecStart=$SPLITTER_PATH --listen 127.0.0.1:9989 --eth-rpc="$SPLITTER_URLS" agent
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
WantedBy=gofer-agent.service